@using FrontEnd.Models.Auth
@model ResetPasswordModel
@{
    var dict = ((CaptionsBase)ViewData[Constants.CaptionsKey]);
    if (dict == null)
        dict = new CaptionsBase();
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@dict.TitleChangePasswordCaption</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/bg.css" asp-append-version="true">
</head>
<body class="bg">
    <div class="login-container">
        <h1>@dict.TitleChangePasswordCaption</h1>
        <form method="post" id="changePass">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="UserId" type="hidden" />
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@dict.SendCaption</button>
        </form>
    </div>

    <div id="overlay"></div>
    <div id="spinner">
        <svg class="spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
    </div>

    <footer class="border-top footer text-muted">
        <div class="copyright">
            &copy; 2024 - Команда Умники - <a asp-area="" asp-controller="Home" asp-action="Privacy">@dict.PrivacyCaption</a>
        </div>
    </footer>

    <script src="~/js/footer.js" asp-append-version="true"></script>
    <script>
        document.getElementById('changePass').addEventListener('submit', function () {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('spinner').style.display = 'block';
        });
    </script>
</body>
</html>
